.favoriteTeamStory {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.favoriteTeamStory div {
    margin: 20px 0;
}
