.favoriteTeamListStory {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.favoriteTeamListStory > div {
    margin: 20px 0;
    width: 100%;
}

.favoriteTeamListStory .list > div {
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
